<h1> {{ pageTitle }}  </h1>
<br />
<br />
{{ 10*5 }}
<br />
<br />
{{ printPageTitle() }}

<br />
<br />
First Name : {{ myObj.firstName }}
Last Name : {{ myObj.lastName }}
<br />
<br />
Track : {{ avdObj.track }}
<br />
<br />
Maths : {{ myObj.marks.maths }}
<br />
<br />
Skills : {{ myObj.skills[0].name }}
Skills : {{ myObj.skills[1].name }}
Skills : {{ myObj.skills[2].name }}

<!-- ngModel -->

<table *ngIf="showTable == true" border="1">
    <tr *ngFor="let skill of myObj.skills">
        <td> {{ skill.id }} </td>
        <td>{{ skill.name }}</td>
        <td><button type="button" (click)="callClickFunction(skill.id)">Click Me!</button></td>
        <td *ngFor="let dt of skill.daily_timing">
            {{ dt.mon }}
            <br />
            {{ dt.tue }}
            <br />
            {{ dt.wed }}
        </td>
    </tr>
</table>


<input type="text" name="t1" [(ngModel)]="myValue" />

<!-- <button type="submit" (click)="callClickFunction()">Click Me!</button> -->
