<!-- <div class="container first second thired" ngClass="">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1>Registration Form</h1>
        </div>
    </div>
    <form [formGroup]="myForm">
        <div class="row">
            <label class="col-lg-12 col-md-12 col-sm-12">Name</label>
            <input name="full_name" formControlName="full_name" type="text" class="col-lg-12 col-md-12 col-sm-12" />
        </div>

        <div class="row">
            <label class="col-lg-12 col-md-12 col-sm-12">DOB</label>
            <input name="dob" formControlName="date_of_birth"  type="date" class="col-lg-12 col-md-12 col-sm-12" />
        </div>

        <div class="row" >
            <label class="col-lg-12 col-md-12 col-sm-12">Email</label>
            <input name="email" formControlName="emailId" type="email" class="col-lg-12 col-md-12 col-sm-12" />
        </div>

        <div class="row">
            <label class="col-lg-12 col-md-12 col-sm-12">Mobile</label>
            <input name="mobile" formControlName="mobile_number" type="number" class="col-lg-12 col-md-12 col-sm-12" />
        </div>

        <div class="row">
            <label class="col-lg-12 col-md-12 col-sm-12">Password</label>
            <input name="password" formControlName="password_control" type="password" class="col-lg-12 col-md-12 col-sm-12" />
        </div>

        <div class="row">
            <label class="col-lg-12 col-md-12 col-sm-12">Confirm Password</label>
            <input name="cpassword" type="password" formControlName="c_password_control" class="col-lg-12 col-md-12 col-sm-12" />
        </div>

        <div class="row">
            <label class="col-lg-12 col-md-12 col-sm-12">Gender</label>
            <input name="gender" formControlName="member_gender" type="radio" value="Male" />Male
            <input name="gender" formControlName="member_gender" type="radio" value="Female" />Female
        </div>

        <div class="row">
            <button class="col-lg-1 col-md-1 col-sm-1" (click)="reloadFormData()">Reload Data</button>
            <button type="submit" class="col-lg-1 col-md-1 col-sm-1" (click)="submitData()">Submit Data</button>
        </div>
    </form>


    <div [ngSwitch]="myDir">
        <span *ngSwitchCase="direct.East">You are on East</span>
        <span *ngSwitchCase="direct.West">You are on West</span>
        <span *ngSwitchCase="direct.South">You are on South</span>
        <span *ngSwitchDefault></span>
    </div>


    <table class="col-md-12">
        <tr *ngFor="let p of people; let i=index; let odd=odd; let even=even" [ngClass]="{'odd odd1 odd2': odd ,'even': even }">
            <ng-container >
                <td>{{odd}}</td>
                <td>{{even}}</td>
                <td>{{i}}</td>
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.age}}</td>
            </ng-container>
        </tr>
        <tr ngClass="odd">
            <td class="col-md-2">1</td>
            <td class="col-md-8 text-left">Khilen</td>
            <td class="col-md-2">34</td>
        </tr>
        <tr ngClass="even">
            <td class="col-md-2">2</td>
            <td class="col-md-8 text-left">Rakesh</td>
            <td class="col-md-2">24</td>
        </tr>
        <tr ngClass="odd">
            <td class="col-md-2">3</td>
            <td class="col-md-8 text-left">Jigar</td>
            <td class="col-md-2">37</td>
        </tr>
        <tr ngClass="even">
            <td class="col-md-2">4</td>
            <td class="col-md-8 text-left">Nisarg</td>
            <td class="col-md-2">23</td>
        </tr>
        <tr ngClass="odd">
            <td class="col-md-2">5</td>
            <td class="col-md-8 text-left">Sanket</td>
            <td class="col-md-2">22</td>
        </tr>
    </table>
</div>

 -->

 <a (click)="sendToChild()">Click</a>
<app-child [aakash]="data1" (result)="gotResult($event)"></app-child>
<!-- <app-child [aakash]="data2" (result)="gotResult($event)"></app-child>
<app-child [aakash]="data3" (result)="gotResult($event)"></app-child>
<app-child [aakash]="data4" (result)="gotResult($event)"></app-child> -->


<input type="text" [(ngModel)]="name" />

Name : {{ name }}

<input type="text" [(ngModel)]="surname" />

surname : {{ surname }}

 
