<!-- <h1>{{pageTitle}}</h1>
<h2> My Rendering Page </h2>

{{ pageTitle }}
{{ 5*100 }}



<button type="submit" title={{pageTitle}}>Click Me</button> -->

<!-- // Manipulating Different Array, JSON -->
<!-- {{myArray}}
{{myObj}}
<br />
First Name = {{myObj.firstName}}
<br />
Last Name = {{myObj.lastName}}
<br />
Age = {{ myObj.personal.age }}
<br />
Array = {{ myObj.arr }}
<br />


<br />
MyArray = {{ myObj.myArray[1].name }}


 -->

 <br />

MyArray = {{ myAudio[0].id }}
MyArray = {{ myAudio[0].name }}

<div *ngFor="let audio of myAudio">
    <span> {{ audio.id }} </span>
    <span> {{ audio.name }} </span>
    <table>
        <tr *ngFor="let a of audio.arr">
            <td> {{a.text}} </td>
            <td> {{a.published}} </td>
            <td *ngIf="a.version == 2"> {{a.version}} </td>
        </tr>
    </table>    
</div>

<div *ngFor="let ls of list">
    <div class="col-sm-12">
        {{ ls.id }}
    </div>
    <div class="col-sm-12">
        {{ ls.name }}
    </div>
    <div class="col-sm-12">
        {{ ls.country }}
    </div>
</div>

The Title of Page = {{ printValue() }}