<h1>Login</h1>
User Name
<input type="text" name="userName" [(ngModel)]="userName">
<br />
<br />
Password
<input type="password" name="password" [(ngModel)]="passWord">

<button type="submit" value="Login" (click)="login()">Login</button>

<a>Forgot Password ?</a>

<table myForm>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>B Date</td>
<!--         <td>Age In Days</td> -->
    </tr>
    <tr *ngFor="let d of data">
        <td>{{d.id}}</td>
        <td>{{d.name | uppercase }}</td>
        <td>{{d.bdate  | daysFromToday:'d.bdate' }}</td>
<!--         <td>Total Days from Birth : {{d.bdate | daysFromBirth:d.bdate }}</td> -->
    </tr>
</table>
